# LLM Configuration
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b

# Gemini LLM Configuration
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

# Pinecone Vector Search & Inference Configuration
PINECONE_API_KEY=
PINECONE_INDEX=
PINECONE_INDEX_HOST=
PINECONE_EMBEDDING_MODEL=multilingual-e5-large
PINECONE_NAMESPACE=